<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/update" method="post">
        <label for="title">Title</label>
        <input id="title" name="title"><br>
        <label for="summary">Summary</label>
        <input id="summary" name="summary"><br>
        <label for="IMDB">IMDB</label>
        <input id="IMDB" name="imdb"><br>
        <label for="rating">Rating</label>
        <input id="rating" name="rating"><br>
        <label for="length">Length</label>
        <input id="length" name="length"><br>
        <label for="season">Season</label>
        <input id="season" name="season"><br>
        <label for="verdict">Verdict</label>
        <input id="verdict" name="verdict"><br>
        <button type="submit" name="movie_id" value="{{movie_id}}">Update</button>
    </form>
</body>
</html>